* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #e8f1f0;
  padding: 0 100px;
  color: var(--textColor);
  background-color: var(--boxBgColor);
  header {
    background-color: var(--bgColor);
  }
}
header {
  background-color: white;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  a {
    font-size: 18px;
    display: flex;
    gap: 7px;
    color: inherit;
    text-decoration: none;
    font-style: italic;
  }
}
#srchFilt {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: var(--textColor);
  background-color: var(--boxBgColor);
  position: relative;
  input,
  span {
    background-color: var(--bgColor);
  }

  span {
    padding: 15px;
    display: flex;
    gap: 5px;
    position: relative;
    div {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--bgColor);
      position: absolute;
      bottom: -400%;
      padding: 10px;
      left: 0;
      width: 100%;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    i {
      position: static;
      color: var(--textColor);
    }
  }
  i {
    position: absolute;
    left: 2.2%;
    top: 35%;
  }

  input {
    height: 35px;
    padding: 2px 35px;
    border: none;
    outline: none;
  }
  input::placeholder {
    font-size: 17px;
  }
}
#flagSect {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  padding: 10px;
  background-color: red;
}
.countryBox {
  img {
    height: 150px;
    width: 280px;
    object-fit: cover;
  }
  span {
    h3 {
      display: flex;
      flex-wrap: wrap;
      width: 280px;
    }
  }
}
.darkMode {
  --bgColor: #2b3844;
  --boxBgColor: #202c36;
  --textColor: rgb(255, 255, 255);
}
.lightMode {
  --bgColor: rgb(255, 255, 255);
  --boxBgColor: #e8f1f0;
  --textColor: rgb(0, 0, 0);
}
#paginationSect {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  .pagin {
    background-color: #ffa500;
    padding: 12px 22px;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 700;
    color: black !important;
    text-decoration: none;
    &:hover {
      background-color: #ff8c00;
    }
  }
}
